<!-- GRID COLUMN -->
<div class="grid-column">
    <!-- WIDGET BOX -->
    <div class="widget-box">
      <!-- PROGRESS ARC SUMMARY -->
      <div class="progress-arc-summary">
        <!-- PROGRESS ARC WRAP -->
        <div class="progress-arc-wrap">
          <!-- PROGRESS ARC -->
          <div class="progress-arc">
            <canvas id="profile-completion-chart"></canvas>
          </div>
          <!-- PROGRESS ARC -->
    
          <!-- PROGRESS ARC INFO -->
          <div class="progress-arc-info">
            <!-- PROGRESS ARC TITLE -->
            <p class="progress-arc-title">59%</p>
            <!-- /PROGRESS ARC TITLE -->
          </div>
          <!-- /PROGRESS ARC INFO -->
        </div>
        <!-- /PROGRESS ARC WRAP -->
    
        <!-- PROGRESS ARC SUMMARY INFO -->
        <div class="progress-arc-summary-info">
          <!-- PROGRESS ARC SUMMARY TITLE -->
          <p class="progress-arc-summary-title">Profile Completion</p>
          <!-- /PROGRESS ARC SUMMARY TITLE -->
    
          <!-- PROGRESS ARC SUMMARY TITLE -->
          <p class="progress-arc-summary-subtitle">Marina Valentine</p>
          <!-- /PROGRESS ARC SUMMARY TITLE -->
    
          <!-- PROGRESS ARC SUMMARY TITLE -->
          <p class="progress-arc-summary-text">Complete your profile by filling profile info fields, completing quests &amp; unlocking badges</p>
          <!-- /PROGRESS ARC SUMMARY TITLE -->
        </div>
        <!-- /PROGRESS ARC SUMMARY INFO -->
      </div>
      <!-- /PROGRESS ARC SUMMARY -->
  
      <!-- ACHIEVEMENT STATUS LIST -->
      <div class="achievement-status-list">
        <!-- ACHIEVEMENT STATUS -->
        <div class="achievement-status">
          <!-- ACHIEVEMENT STATUS PROGRESS -->
          <p class="achievement-status-progress">11/30</p>
          <!-- /ACHIEVEMENT STATUS PROGRESS -->
  
          <!-- ACHIEVEMENT STATUS INFO -->
          <div class="achievement-status-info">
            <!-- ACHIEVEMENT STATUS TITLE -->
            <p class="achievement-status-title">Quests</p>
            <!-- /ACHIEVEMENT STATUS TITLE -->
            
            <!-- ACHIEVEMENT STATUS TEXT -->
            <p class="achievement-status-text">Completed</p>
            <!-- /ACHIEVEMENT STATUS TEXT -->
          </div>
          <!-- /ACHIEVEMENT STATUS INFO -->
  
          <!-- ACHIEVEMENT STATUS IMAGE -->
          <img class="achievement-status-image" src="assets/img/badge/completedq-s.png" alt="bdage-completedq-s">
          <!-- /ACHIEVEMENT STATUS IMAGE -->
        </div>
        <!-- /ACHIEVEMENT STATUS -->
  
        <!-- ACHIEVEMENT STATUS -->
        <div class="achievement-status">
          <!-- ACHIEVEMENT STATUS PROGRESS -->
          <p class="achievement-status-progress">22/46</p>
          <!-- /ACHIEVEMENT STATUS PROGRESS -->
  
          <!-- ACHIEVEMENT STATUS INFO -->
          <div class="achievement-status-info">
            <!-- ACHIEVEMENT STATUS TITLE -->
            <p class="achievement-status-title">Badges</p>
            <!-- /ACHIEVEMENT STATUS TITLE -->
            
            <!-- ACHIEVEMENT STATUS TEXT -->
            <p class="achievement-status-text">Unlocked</p>
            <!-- /ACHIEVEMENT STATUS TEXT -->
          </div>
          <!-- /ACHIEVEMENT STATUS INFO -->
  
          <!-- ACHIEVEMENT STATUS IMAGE -->
          <img class="achievement-status-image" src="assets/img/badge/unlocked-badge.png" alt="bdage-unlocked-badge">
          <!-- /ACHIEVEMENT STATUS IMAGE -->
        </div>
        <!-- /ACHIEVEMENT STATUS -->
      </div>
      <!-- /ACHIEVEMENT STATUS LIST -->
    </div>
    <!-- /WIDGET BOX -->

    <!-- WIDGET BOX -->
    <div class="widget-box">
      <!-- WIDGET BOX CONTROLS -->
      <div class="widget-box-controls">
        <!-- SLIDER CONTROLS -->
        <div id="badge-stat-slider-controls" class="slider-controls">
          <!-- SLIDER CONTROL -->
          <div class="slider-control left">
            <!-- SLIDER CONTROL ICON -->
            <svg class="slider-control-icon icon-small-arrow">
              <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /SLIDER CONTROL ICON -->
          </div>
          <!-- /SLIDER CONTROL -->

          <!-- SLIDER CONTROL -->
          <div class="slider-control right">
            <!-- SLIDER CONTROL ICON -->
            <svg class="slider-control-icon icon-small-arrow">
              <use xlink:href="#svg-small-arrow"></use>
            </svg>
            <!-- /SLIDER CONTROL ICON -->
          </div>
          <!-- /SLIDER CONTROL -->
        </div>
        <!-- /SLIDER CONTROLS -->
      </div>
      <!-- /WIDGET BOX CONTROLS -->

      <!-- WIDGET BOX TITLE -->
      <p class="widget-box-title">Featured Badges</p>
      <!-- /WIDGET BOX TITLE -->

      <!-- WIDGET BOX CONTENT -->
      <div class="widget-box-content">
        <!-- WIDGET BOX CONTENT SLIDER -->
        <div id="badge-stat-slider-items" class="widget-box-content-slider">
          <!-- WIDGET BOX CONTENT SLIDER ITEM -->
          <div class="widget-box-content-slider-item">
            <!-- BADGE ITEM STAT -->
            <div class="badge-item-stat void">
              <!-- TEXT STICKER -->
              <p class="text-sticker">
                <!-- TEXT STICKER ICON -->
                <svg class="text-sticker-icon icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- TEXT STICKER ICON -->
                20 Exp
              </p>
              <!-- /TEXT STICKER -->

              <!-- BADGE ITEM STAT IMAGE -->
              <img class="badge-item-stat-image" src="assets/img/badge/uexp-b.png" alt="badge-uexp-b">
              <!-- /BADGE ITEM STAT IMAGE -->

              <!-- BADGE ITEM STAT TITLE -->
              <p class="badge-item-stat-title">Universe Explorer</p>
              <!-- /BADGE ITEM STAT TITLE -->

              <!-- BADGE ITEM STAT TEXT -->
              <p class="badge-item-stat-text">Joined and posted on 20 different groups</p>
              <!-- /BADGE ITEM STAT TEXT -->

              <!-- PROGRESS STAT -->
              <div class="progress-stat medium">
                <!-- PROGRESS STAT BAR -->
                <div id="badge-uexp" class="progress-stat-bar"></div>
                <!-- /PROGRESS STAT BAR -->

                <!-- BAR PROGRESS WRAP -->
                <div class="bar-progress-wrap">
                  <!-- BAR PROGRESS INFO -->
                  <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
                  <!-- /BAR PROGRESS INFO -->
                </div>
                <!-- /BAR PROGRESS WRAP -->
              </div>
              <!-- /PROGRESS STAT -->
            </div>
            <!-- /BADGE ITEM STAT -->
          </div>
          <!-- /WIDGET BOX CONTENT SLIDER ITEM -->

          <!-- WIDGET BOX CONTENT SLIDER ITEM -->
          <div class="widget-box-content-slider-item">
            <!-- BADGE ITEM STAT -->
            <div class="badge-item-stat void">
              <!-- TEXT STICKER -->
              <p class="text-sticker">
                <!-- TEXT STICKER ICON -->
                <svg class="text-sticker-icon icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- TEXT STICKER ICON -->
                40 Exp
              </p>
              <!-- /TEXT STICKER -->

              <!-- BADGE ITEM STAT IMAGE -->
              <img class="badge-item-stat-image" src="assets/img/badge/verifieds-b.png" alt="badge-verifieds-b">
              <!-- /BADGE ITEM STAT IMAGE -->

              <!-- BADGE ITEM STAT TITLE -->
              <p class="badge-item-stat-title">Verified Streamer</p>
              <!-- /BADGE ITEM STAT TITLE -->

              <!-- BADGE ITEM STAT TEXT -->
              <p class="badge-item-stat-text">Has linked a stream that was verified by the staff</p>
              <!-- /BADGE ITEM STAT TEXT -->

              <!-- PROGRESS STAT -->
              <div class="progress-stat medium">
                <!-- PROGRESS STAT BAR -->
                <div id="badge-verifieds" class="progress-stat-bar"></div>
                <!-- /PROGRESS STAT BAR -->

                <!-- BAR PROGRESS WRAP -->
                <div class="bar-progress-wrap">
                  <!-- BAR PROGRESS INFO -->
                  <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
                  <!-- /BAR PROGRESS INFO -->
                </div>
                <!-- /BAR PROGRESS WRAP -->
              </div>
              <!-- /PROGRESS STAT -->
            </div>
            <!-- /BADGE ITEM STAT -->
          </div>
          <!-- /WIDGET BOX CONTENT SLIDER ITEM -->

          <!-- WIDGET BOX CONTENT SLIDER ITEM -->
          <div class="widget-box-content-slider-item">
            <!-- BADGE ITEM STAT -->
            <div class="badge-item-stat void">
              <!-- TEXT STICKER -->
              <p class="text-sticker">
                <!-- TEXT STICKER ICON -->
                <svg class="text-sticker-icon icon-plus-small">
                  <use xlink:href="#svg-plus-small"></use>
                </svg>
                <!-- TEXT STICKER ICON -->
                40 Exp
              </p>
              <!-- /TEXT STICKER -->

              <!-- BADGE ITEM STAT IMAGE -->
              <img class="badge-item-stat-image" src="assets/img/badge/qconq-b.png" alt="badge-qconq-b">
              <!-- /BADGE ITEM STAT IMAGE -->

              <!-- BADGE ITEM STAT TITLE -->
              <p class="badge-item-stat-title">Quest Conqueror</p>
              <!-- /BADGE ITEM STAT TITLE -->

              <!-- BADGE ITEM STAT TEXT -->
              <p class="badge-item-stat-text">Succesfully completed at least 10 quests at 100%</p>
              <!-- /BADGE ITEM STAT TEXT -->

              <!-- PROGRESS STAT -->
              <div class="progress-stat medium">
                <!-- PROGRESS STAT BAR -->
                <div id="badge-qconq" class="progress-stat-bar"></div>
                <!-- /PROGRESS STAT BAR -->

                <!-- BAR PROGRESS WRAP -->
                <div class="bar-progress-wrap">
                  <!-- BAR PROGRESS INFO -->
                  <p class="bar-progress-info negative center"><span class="bar-progress-text no-space"></span></p>
                  <!-- /BAR PROGRESS INFO -->
                </div>
                <!-- /BAR PROGRESS WRAP -->
              </div>
              <!-- /PROGRESS STAT -->
            </div>
            <!-- /BADGE ITEM STAT -->
          </div>
          <!-- /WIDGET BOX CONTENT SLIDER ITEM -->
        </div>
        <!-- /WIDGET BOX CONTENT SLIDER -->
      </div>
      <!-- /WIDGET BOX CONTENT -->
    </div>
    <!-- /WIDGET BOX -->

    <!-- WIDGET BOX -->
    <div class="widget-box">
      <!-- WIDGET BOX SETTINGS -->
      <div class="widget-box-settings">
        <!-- POST SETTINGS WRAP -->
        <div class="post-settings-wrap">
          <!-- POST SETTINGS -->
          <div class="post-settings widget-box-post-settings-dropdown-trigger">
            <!-- POST SETTINGS ICON -->
            <svg class="post-settings-icon icon-more-dots">
              <use xlink:href="#svg-more-dots"></use>
            </svg>
            <!-- /POST SETTINGS ICON -->
          </div>
          <!-- /POST SETTINGS -->

          <!-- SIMPLE DROPDOWN -->
          <div class="simple-dropdown widget-box-post-settings-dropdown">
            <!-- SIMPLE DROPDOWN LINK -->
            <p class="simple-dropdown-link">Widget Settings</p>
            <!-- /SIMPLE DROPDOWN LINK -->
          </div>
          <!-- /SIMPLE DROPDOWN -->
        </div>
        <!-- /POST SETTINGS WRAP -->
      </div>
      <!-- /WIDGET BOX SETTINGS -->

      <!-- WIDGET BOX TITLE -->
      <p class="widget-box-title">Members</p>
      <!-- /WIDGET BOX TITLE -->

      <!-- WIDGET BOX CONTENT -->
      <div class="widget-box-content">
        <!-- FILTERS -->
        <div class="filters">
          <!-- FILTER -->
          <p class="filter">Newest</p>
          <!-- /FILTER -->

          <!-- FILTER -->
          <p class="filter active">Popular</p>
          <!-- /FILTER -->

          <!-- FILTER -->
          <p class="filter">Active</p>
          <!-- /FILTER -->
        </div>
        <!-- /FILTERS -->

        <!-- USER STATUS LIST -->
        <div class="user-status-list">
          <!-- USER STATUS -->
          <div class="user-status request-small">
            <!-- USER STATUS AVATAR -->
            <a class="user-status-avatar" href="profile-timeline.html">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" data-src="assets/img/avatar/07.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
            
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
            
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
            
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-22-24"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
            
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-16-18"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
            
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text">26</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </div>
              <!-- /USER AVATAR -->
            </a>
            <!-- /USER STATUS AVATAR -->
        
            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><a class="bold" href="profile-timeline.html">Sarah Diamond</a></p>
            <!-- /USER STATUS TITLE -->
        
            <!-- USER STATUS TEXT -->
            <p class="user-status-text small">24.5K profile views</p>
            <!-- /USER STATUS TEXT -->
        
            <!-- ACTION REQUEST LIST -->
            <div class="action-request-list">
              <!-- ACTION REQUEST -->
              <div class="action-request accept">
                <!-- ACTION REQUEST ICON -->
                <svg class="action-request-icon icon-add-friend">
                  <use xlink:href="#svg-add-friend"></use>
                </svg>
                <!-- /ACTION REQUEST ICON -->
              </div>
              <!-- /ACTION REQUEST -->
            </div>
            <!-- ACTION REQUEST LIST -->
          </div>
          <!-- /USER STATUS -->

          <!-- USER STATUS -->
          <div class="user-status request-small">
            <!-- USER STATUS AVATAR -->
            <a class="user-status-avatar" href="profile-timeline.html">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" data-src="assets/img/avatar/03.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
            
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
            
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
            
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-22-24"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
            
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-16-18"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
            
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text">16</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </div>
              <!-- /USER AVATAR -->
            </a>
            <!-- /USER STATUS AVATAR -->
        
            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><a class="bold" href="profile-timeline.html">Nick Grissom</a></p>
            <!-- /USER STATUS TITLE -->
        
            <!-- USER STATUS TEXT -->
            <p class="user-status-text small">20.1K profile views</p>
            <!-- /USER STATUS TEXT -->
        
            <!-- ACTION REQUEST LIST -->
            <div class="action-request-list">
              <!-- ACTION REQUEST -->
              <div class="action-request accept">
                <!-- ACTION REQUEST ICON -->
                <svg class="action-request-icon icon-add-friend">
                  <use xlink:href="#svg-add-friend"></use>
                </svg>
                <!-- /ACTION REQUEST ICON -->
              </div>
              <!-- /ACTION REQUEST -->
            </div>
            <!-- ACTION REQUEST LIST -->
          </div>
          <!-- /USER STATUS -->

          <!-- USER STATUS -->
          <div class="user-status request-small">
            <!-- USER STATUS AVATAR -->
            <a class="user-status-avatar" href="profile-timeline.html">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" data-src="assets/img/avatar/23.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
            
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
            
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
            
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-22-24"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
            
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-16-18"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
            
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text">19</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </div>
              <!-- /USER AVATAR -->
            </a>
            <!-- /USER STATUS AVATAR -->
        
            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><a class="bold" href="profile-timeline.html">Rosie Sakura</a></p>
            <!-- /USER STATUS TITLE -->
        
            <!-- USER STATUS TEXT -->
            <p class="user-status-text small">19.7K profile views</p>
            <!-- /USER STATUS TEXT -->
        
            <!-- ACTION REQUEST LIST -->
            <div class="action-request-list">
              <!-- ACTION REQUEST -->
              <div class="action-request accept">
                <!-- ACTION REQUEST ICON -->
                <svg class="action-request-icon icon-add-friend">
                  <use xlink:href="#svg-add-friend"></use>
                </svg>
                <!-- /ACTION REQUEST ICON -->
              </div>
              <!-- /ACTION REQUEST -->
            </div>
            <!-- ACTION REQUEST LIST -->
          </div>
          <!-- /USER STATUS -->

          <!-- USER STATUS -->
          <div class="user-status request-small">
            <!-- USER STATUS AVATAR -->
            <a class="user-status-avatar" href="profile-timeline.html">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" data-src="assets/img/avatar/15.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
            
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
            
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
            
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-22-24"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
            
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-16-18"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
            
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text">22</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </div>
              <!-- /USER AVATAR -->
            </a>
            <!-- /USER STATUS AVATAR -->
        
            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><a class="bold" href="profile-timeline.html">Peter Stark</a></p>
            <!-- /USER STATUS TITLE -->
        
            <!-- USER STATUS TEXT -->
            <p class="user-status-text small">16.5K profile views</p>
            <!-- /USER STATUS TEXT -->
        
            <!-- ACTION REQUEST LIST -->
            <div class="action-request-list">
              <!-- ACTION REQUEST -->
              <div class="action-request accept">
                <!-- ACTION REQUEST ICON -->
                <svg class="action-request-icon icon-add-friend">
                  <use xlink:href="#svg-add-friend"></use>
                </svg>
                <!-- /ACTION REQUEST ICON -->
              </div>
              <!-- /ACTION REQUEST -->
            </div>
            <!-- ACTION REQUEST LIST -->
          </div>
          <!-- /USER STATUS -->

          <!-- USER STATUS -->
          <div class="user-status request-small">
            <!-- USER STATUS AVATAR -->
            <a class="user-status-avatar" href="profile-timeline.html">
              <!-- USER AVATAR -->
              <div class="user-avatar small no-outline">
                <!-- USER AVATAR CONTENT -->
                <div class="user-avatar-content">
                  <!-- HEXAGON -->
                  <div class="hexagon-image-30-32" data-src="assets/img/avatar/04.jpg"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR CONTENT -->
            
                <!-- USER AVATAR PROGRESS -->
                <div class="user-avatar-progress">
                  <!-- HEXAGON -->
                  <div class="hexagon-progress-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS -->
            
                <!-- USER AVATAR PROGRESS BORDER -->
                <div class="user-avatar-progress-border">
                  <!-- HEXAGON -->
                  <div class="hexagon-border-40-44"></div>
                  <!-- /HEXAGON -->
                </div>
                <!-- /USER AVATAR PROGRESS BORDER -->
            
                <!-- USER AVATAR BADGE -->
                <div class="user-avatar-badge">
                  <!-- USER AVATAR BADGE BORDER -->
                  <div class="user-avatar-badge-border">
                    <!-- HEXAGON -->
                    <div class="hexagon-22-24"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE BORDER -->
            
                  <!-- USER AVATAR BADGE CONTENT -->
                  <div class="user-avatar-badge-content">
                    <!-- HEXAGON -->
                    <div class="hexagon-dark-16-18"></div>
                    <!-- /HEXAGON -->
                  </div>
                  <!-- /USER AVATAR BADGE CONTENT -->
            
                  <!-- USER AVATAR BADGE TEXT -->
                  <p class="user-avatar-badge-text">6</p>
                  <!-- /USER AVATAR BADGE TEXT -->
                </div>
                <!-- /USER AVATAR BADGE -->
              </div>
              <!-- /USER AVATAR -->
            </a>
            <!-- /USER STATUS AVATAR -->
        
            <!-- USER STATUS TITLE -->
            <p class="user-status-title"><a class="bold" href="profile-timeline.html">Bearded Wonder</a></p>
            <!-- /USER STATUS TITLE -->
        
            <!-- USER STATUS TEXT -->
            <p class="user-status-text small">9.8K profile views</p>
            <!-- /USER STATUS TEXT -->
        
            <!-- ACTION REQUEST LIST -->
            <div class="action-request-list">
              <!-- ACTION REQUEST -->
              <div class="action-request accept">
                <!-- ACTION REQUEST ICON -->
                <svg class="action-request-icon icon-add-friend">
                  <use xlink:href="#svg-add-friend"></use>
                </svg>
                <!-- /ACTION REQUEST ICON -->
              </div>
              <!-- /ACTION REQUEST -->
            </div>
            <!-- ACTION REQUEST LIST -->
          </div>
          <!-- /USER STATUS -->
        </div>
        <!-- /USER STATUS LIST -->
      </div>
      <!-- WIDGET BOX CONTENT -->
    </div>
    <!-- /WIDGET BOX -->

    <!-- BANNER PROMO -->
    <a class="banner-promo" href="https://themeforest.net/user/odin_design" target="_blank">
      <img src="assets/img/banner/banner-promo.jpg" alt="banner-promo">
    </a>
    <!-- /BANNER PROMO -->

    <!-- WIDGET BOX -->
    <div class="widget-box">
      <!-- WIDGET BOX SETTINGS -->
      <div class="widget-box-settings">
        <!-- POST SETTINGS WRAP -->
        <div class="post-settings-wrap">
          <!-- POST SETTINGS -->
          <div class="post-settings widget-box-post-settings-dropdown-trigger">
            <!-- POST SETTINGS ICON -->
            <svg class="post-settings-icon icon-more-dots">
              <use xlink:href="#svg-more-dots"></use>
            </svg>
            <!-- /POST SETTINGS ICON -->
          </div>
          <!-- /POST SETTINGS -->
  
          <!-- SIMPLE DROPDOWN -->
          <div class="simple-dropdown widget-box-post-settings-dropdown">
            <!-- SIMPLE DROPDOWN LINK -->
            <p class="simple-dropdown-link">Widget Settings</p>
            <!-- /SIMPLE DROPDOWN LINK -->
          </div>
          <!-- /SIMPLE DROPDOWN -->
        </div>
        <!-- /POST SETTINGS WRAP -->
      </div>
      <!-- /WIDGET BOX SETTINGS -->
  
      <!-- WIDGET BOX TITLE -->
      <p class="widget-box-title">Open Quests</p>
      <!-- /WIDGET BOX TITLE -->
  
      <!-- WIDGET BOX CONTENT -->
      <div class="widget-box-content">
        <!-- QUEST PREVIEW LIST -->
        <div class="quest-preview-list">
          <!-- QUEST PREVIEW -->
          <div class="quest-preview">
            <!-- QUEST PREVIEW INFO -->
            <div class="quest-preview-info">
              <!-- QUEST PREVIEW IMAGE -->
              <img class="quest-preview-image" src="assets/img/quest/openq-s.png" alt="openq-s">
              <!-- /QUEST PREVIEW IMAGE -->
        
              <!-- QUEST PREVIEW TITLE -->
              <p class="quest-preview-title">Nothing to hide</p>
              <!-- /QUEST PREVIEW TITLE -->
        
              <!-- QUEST PREVIEW TEXT -->
              <p class="quest-preview-text">You have completed all your profile information fields</p>
              <!-- /QUEST PREVIEW TEXT -->
            </div>
            <!-- /QUEST PREVIEW INFO -->
        
            <!-- PROGRESS STAT -->
            <div class="progress-stat">
              <!-- PROGRESS STAT BAR -->
              <div id="quest-preview-nth" class="progress-stat-bar"></div>
              <!-- /PROGRESS STAT BAR -->
            </div>
            <!-- /PROGRESS STAT -->
          </div>
          <!-- /QUEST PREVIEW -->
  
          <!-- QUEST PREVIEW -->
          <div class="quest-preview">
            <!-- QUEST PREVIEW INFO -->
            <div class="quest-preview-info">
              <!-- QUEST PREVIEW IMAGE -->
              <img class="quest-preview-image" src="assets/img/quest/openq-s.png" alt="openq-s">
              <!-- /QUEST PREVIEW IMAGE -->
        
              <!-- QUEST PREVIEW TITLE -->
              <p class="quest-preview-title">Social King</p>
              <!-- /QUEST PREVIEW TITLE -->
        
              <!-- QUEST PREVIEW TEXT -->
              <p class="quest-preview-text">You have linked at least 8 social networks to your profile</p>
              <!-- /QUEST PREVIEW TEXT -->
            </div>
            <!-- /QUEST PREVIEW INFO -->
        
            <!-- PROGRESS STAT -->
            <div class="progress-stat">
              <!-- PROGRESS STAT BAR -->
              <div id="quest-preview-sk" class="progress-stat-bar"></div>
              <!-- /PROGRESS STAT BAR -->
            </div>
            <!-- /PROGRESS STAT -->
          </div>
          <!-- /QUEST PREVIEW -->
  
          <!-- QUEST PREVIEW -->
          <div class="quest-preview">
            <!-- QUEST PREVIEW INFO -->
            <div class="quest-preview-info">
              <!-- QUEST PREVIEW IMAGE -->
              <img class="quest-preview-image" src="assets/img/quest/openq-s.png" alt="openq-s">
              <!-- /QUEST PREVIEW IMAGE -->
        
              <!-- QUEST PREVIEW TITLE -->
              <p class="quest-preview-title">Buffed Profile</p>
              <!-- /QUEST PREVIEW TITLE -->
        
              <!-- QUEST PREVIEW TEXT -->
              <p class="quest-preview-text">You have posted every day for at least 30 days in a row</p>
              <!-- /QUEST PREVIEW TEXT -->
            </div>
            <!-- /QUEST PREVIEW INFO -->
        
            <!-- PROGRESS STAT -->
            <div class="progress-stat">
              <!-- PROGRESS STAT BAR -->
              <div id="quest-preview-bp" class="progress-stat-bar"></div>
              <!-- /PROGRESS STAT BAR -->
            </div>
            <!-- /PROGRESS STAT -->
          </div>
          <!-- /QUEST PREVIEW -->
  
          <!-- QUEST PREVIEW -->
          <div class="quest-preview">
            <!-- QUEST PREVIEW INFO -->
            <div class="quest-preview-info">
              <!-- QUEST PREVIEW IMAGE -->
              <img class="quest-preview-image" src="assets/img/quest/openq-s.png" alt="openq-s">
              <!-- /QUEST PREVIEW IMAGE -->
        
              <!-- QUEST PREVIEW TITLE -->
              <p class="quest-preview-title">Hear the People</p>
              <!-- /QUEST PREVIEW TITLE -->
        
              <!-- QUEST PREVIEW TEXT -->
              <p class="quest-preview-text">You have created and posted your first poll</p>
              <!-- /QUEST PREVIEW TEXT -->
            </div>
            <!-- /QUEST PREVIEW INFO -->
        
            <!-- PROGRESS STAT -->
            <div class="progress-stat">
              <!-- PROGRESS STAT BAR -->
              <div id="quest-preview-htp" class="progress-stat-bar"></div>
              <!-- /PROGRESS STAT BAR -->
            </div>
            <!-- /PROGRESS STAT -->
          </div>
          <!-- /QUEST PREVIEW -->
  
          <!-- QUEST PREVIEW -->
          <div class="quest-preview">
            <!-- QUEST PREVIEW INFO -->
            <div class="quest-preview-info">
              <!-- QUEST PREVIEW IMAGE -->
              <img class="quest-preview-image" src="assets/img/quest/openq-s.png" alt="openq-s">
              <!-- /QUEST PREVIEW IMAGE -->
        
              <!-- QUEST PREVIEW TITLE -->
              <p class="quest-preview-title">Store Manager</p>
              <!-- /QUEST PREVIEW TITLE -->
        
              <!-- QUEST PREVIEW TEXT -->
              <p class="quest-preview-text">You have uploaded at least 10 items in your shop</p>
              <!-- /QUEST PREVIEW TEXT -->
            </div>
            <!-- /QUEST PREVIEW INFO -->
        
            <!-- PROGRESS STAT -->
            <div class="progress-stat">
              <!-- PROGRESS STAT BAR -->
              <div id="quest-preview-sm" class="progress-stat-bar"></div>
              <!-- /PROGRESS STAT BAR -->
            </div>
            <!-- /PROGRESS STAT -->
          </div>
          <!-- /QUEST PREVIEW -->
        </div>
        <!-- /QUEST PREVIEW LIST -->
      </div>
      <!-- WIDGET BOX CONTENT -->
  
      <!-- WIDGET BOX BUTTON -->
      <a class="widget-box-button button small white" href="quests.html">See all Quests!</a>
      <!-- /WIDGET BOX BUTTON -->
    </div>
    <!-- /WIDGET BOX -->
  </div>
  <!-- /GRID COLUMN -->