
<div class="widget-box no-padding">
    <div class="widget-box-settings">
      <div class="post-settings-wrap">
        <div class="post-settings widget-box-post-settings-dropdown-trigger">
          <svg class="post-settings-icon icon-more-dots">
            <use xlink:href="#svg-more-dots"></use>
          </svg>
        </div>
        <div class="simple-dropdown widget-box-post-settings-dropdown">
          <p class="simple-dropdown-link">Edit Post</p>
          <p class="simple-dropdown-link">Delete Post</p>
          <p class="simple-dropdown-link">Make it Featured</p>
          <p class="simple-dropdown-link">Report Post</p>
          <p class="simple-dropdown-link">Report Author</p>
        </div>
      </div>
    </div>
    <div class="widget-box-status">
      <div class="widget-box-status-content">
        <div class="user-status">
          <a class="user-status-avatar" href="profile-timeline.html">
            <div class="user-avatar small no-outline">
              <div class="user-avatar-content">
                <div class="hexagon-image-30-32" [attr.data-src]="avatarImage"></div>
              </div>
              <div class="user-avatar-progress">
                <div class="hexagon-progress-40-44"></div>
              </div>
              <div class="user-avatar-progress-border">
                <div class="hexagon-border-40-44"></div>
              </div>
              <div class="user-avatar-badge">
                <div class="user-avatar-badge-border">
                  <div class="hexagon-22-24"></div>
                </div>
                <div class="user-avatar-badge-content">
                  <div class="hexagon-dark-16-18"></div>
                </div>
                <p class="user-avatar-badge-text">12</p>
              </div>
            </div>
          </a>
          <p class="user-status-title medium"><a class="bold" href="profile-timeline.html">{{action}}</a></p>
          <p class="user-status-text small">{{postDate}}</p>
        </div>
        <p class="widget-box-status-text">{{content}}</p>
        
          <div class="picture-collage">
            <div class="picture-collage-row medium">
              <div class="picture-collage-item popup-picture-trigger">
                <div class="photo-preview">
                  <figure class="photo-preview-image liquid">
                    <img src="assets/img/cover/10.jpg" alt="photo-preview-10">
                  </figure>
                  <div class="photo-preview-info">
                    <div class="reaction-count-list">
                      <div class="reaction-count negative">
                        <svg class="reaction-count-icon icon-thumbs-up">
                          <use xlink:href="#svg-thumbs-up"></use>
                        </svg>
                        <p class="reaction-count-text">2</p>
                      </div>
                      <div class="reaction-count negative">
                        <svg class="reaction-count-icon icon-comment">
                          <use xlink:href="#svg-comment"></use>
                        </svg>
                        <p class="reaction-count-text">5</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /PHOTO PREVIEW -->
              </div>
              <div class="picture-collage-item popup-picture-trigger">
                <!-- PHOTO PREVIEW -->
                <div class="photo-preview">
                  <!-- PHOTO PREVIEW IMAGE -->
                  <figure class="photo-preview-image liquid">
                    <img src="assets/img/cover/12.jpg" alt="photo-preview-12">
                  </figure>
                  <!-- /PHOTO PREVIEW IMAGE -->
              
                  <!-- PHOTO PREVIEW INFO -->
                  <div class="photo-preview-info">
                    <!-- REACTION COUNT LIST -->
                    <div class="reaction-count-list">
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-thumbs-up">
                          <use xlink:href="#svg-thumbs-up"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">2</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
              
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-comment">
                          <use xlink:href="#svg-comment"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">5</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
                    </div>
                    <!-- /REACTION COUNT LIST -->
                  </div>
                  <!-- /PHOTO PREVIEW INFO -->
                </div>
                <!-- /PHOTO PREVIEW -->
              </div>
            </div>
            <div class="picture-collage-row">
              <div class="picture-collage-item popup-picture-trigger">
                <!-- PHOTO PREVIEW -->
                <div class="photo-preview">
                  <!-- PHOTO PREVIEW IMAGE -->
                  <figure class="photo-preview-image liquid">
                    <img src="assets/img/cover/16.jpg" alt="photo-preview-16">
                  </figure>
                  <!-- /PHOTO PREVIEW IMAGE -->
              
                  <!-- PHOTO PREVIEW INFO -->
                  <div class="photo-preview-info">
                    <!-- REACTION COUNT LIST -->
                    <div class="reaction-count-list">
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-thumbs-up">
                          <use xlink:href="#svg-thumbs-up"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">2</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
              
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-comment">
                          <use xlink:href="#svg-comment"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">5</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
                    </div>
                    <!-- /REACTION COUNT LIST -->
                  </div>
                  <!-- /PHOTO PREVIEW INFO -->
                </div>
                <!-- /PHOTO PREVIEW -->
              </div>
              <div class="picture-collage-item popup-picture-trigger">
                <!-- PHOTO PREVIEW -->
                <div class="photo-preview">
                  <!-- PHOTO PREVIEW IMAGE -->
                  <figure class="photo-preview-image liquid">
                    <img src="assets/img/cover/08.jpg" alt="photo-preview-08">
                  </figure>
                  <!-- /PHOTO PREVIEW IMAGE -->
              
                  <!-- PHOTO PREVIEW INFO -->
                  <div class="photo-preview-info">
                    <!-- REACTION COUNT LIST -->
                    <div class="reaction-count-list">
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-thumbs-up">
                          <use xlink:href="#svg-thumbs-up"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">2</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
              
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-comment">
                          <use xlink:href="#svg-comment"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">5</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
                    </div>
                    <!-- /REACTION COUNT LIST -->
                  </div>
                  <!-- /PHOTO PREVIEW INFO -->
                </div>
                <!-- /PHOTO PREVIEW -->
              </div>
              <div class="picture-collage-item">
                <!-- PICTURE COLLAGE ITEM OVERLAY -->
                <a class="picture-collage-item-overlay" href="profile-photos.html">
                  <!-- PICTURE COLLAGE ITEM OVERLAY TEXT -->
                  <p class="picture-collage-item-overlay-text">+22</p>
                  <!-- /PICTURE COLLAGE ITEM OVERLAY TEXT -->
                </a>
                <!-- /PICTURE COLLAGE ITEM OVERLAY -->
  
                <!-- PHOTO PREVIEW -->
                <div class="photo-preview">
                  <!-- PHOTO PREVIEW IMAGE -->
                  <figure class="photo-preview-image liquid">
                    <img src="assets/img/cover/14.jpg" alt="photo-preview-14">
                  </figure>
                  <!-- /PHOTO PREVIEW IMAGE -->
              
                  <!-- PHOTO PREVIEW INFO -->
                  <div class="photo-preview-info">
                    <!-- REACTION COUNT LIST -->
                    <div class="reaction-count-list">
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-thumbs-up">
                          <use xlink:href="#svg-thumbs-up"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">2</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
              
                      <!-- REACTION COUNT -->
                      <div class="reaction-count negative">
                        <!-- REACTION COUNT ICON -->
                        <svg class="reaction-count-icon icon-comment">
                          <use xlink:href="#svg-comment"></use>
                        </svg>
                        <!-- /REACTION COUNT ICON -->
              
                        <!-- REACTION COUNT TEXT -->
                        <p class="reaction-count-text">5</p>
                        <!-- /REACTION COUNT TEXT -->
                      </div>
                      <!-- /REACTION COUNT -->
                    </div>
                    <!-- /REACTION COUNT LIST -->
                  </div>
                  <!-- /PHOTO PREVIEW INFO -->
                </div>
                <!-- /PHOTO PREVIEW -->
              </div>
            </div>
          </div>
        </div>
        <div class="iframe-wrap">
          <iframe src="https://giphy.com/embed/1LnQIODGufGec" allowFullScreen></iframe>
        </div>
        <div class="iframe-wrap" *ngIf = "youtubeVideoURL">
          <iframe [src]="youtubeURL" allowfullscreen class="{{youtubeVideoURL}}"></iframe>
        </div>
  
  
      <div class="widget-box-status-content">
        <div class="tag-list">
          <a class="tag-item secondary" href="newsfeed.html">Stream</a>
          <a class="tag-item secondary" href="newsfeed.html">StrikerGO</a>
          <a class="tag-item secondary" href="newsfeed.html">Outlaws</a>
          <a class="tag-item secondary" href="newsfeed.html">Gaming</a>
        </div>

        <div class="content-actions">
          <div class="content-action">
            <div class="meta-line">
              <div class="meta-line-list reaction-item-list">
                <div class="reaction-item">
                  <img class="reaction-image reaction-item-dropdown-trigger" src="assets/img/reaction/love.png" alt="reaction-love">
                  <div class="simple-dropdown padded reaction-item-dropdown">
                    <p class="simple-dropdown-text"><img class="reaction" src="assets/img/reaction/love.png" alt="reaction-love"> <span class="bold">Love</span></p>
                    <p class="simple-dropdown-text">Matt Parker</p>
                    <p class="simple-dropdown-text">Destroy Dex</p>
                    <p class="simple-dropdown-text">The Green Goo</p>
                  </div>
                </div>
                <div class="reaction-item">
                  <img class="reaction-image reaction-item-dropdown-trigger" src="assets/img/reaction/happy.png" alt="reaction-happy">
                  <div class="simple-dropdown padded reaction-item-dropdown">
                    <p class="simple-dropdown-text"><img class="reaction" src="assets/img/reaction/happy.png" alt="reaction-happy"> <span class="bold">Happy</span></p>
                    <p class="simple-dropdown-text">Sandra Strange</p>
                    <p class="simple-dropdown-text">Jane Rodgers</p>
                  </div>
                </div>
                <div class="reaction-item">
                  <img class="reaction-image reaction-item-dropdown-trigger" src="assets/img/reaction/like.png" alt="reaction-like">
                  <div class="simple-dropdown padded reaction-item-dropdown">
                    <p class="simple-dropdown-text"><img class="reaction" src="assets/img/reaction/like.png" alt="reaction-like"> <span class="bold">Like</span></p>
                    <p class="simple-dropdown-text">Neko Bebop</p>
                    <p class="simple-dropdown-text">Nick Grissom</p>
                    <p class="simple-dropdown-text">Sarah Diamond</p>
                    <p class="simple-dropdown-text">Jett Spiegel</p>
                    <p class="simple-dropdown-text">Marcus Jhonson</p>
                    <p class="simple-dropdown-text"><span class="bold">and 6 more...</span></p>
                  </div>
                </div>
              </div>
              <p class="meta-line-text">16</p>
            </div>
            <div class="meta-line">
              <div class="meta-line-list user-avatar-list">
                <div class="user-avatar micro no-stats">
                  <div class="user-avatar-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-content">
                    <div class="hexagon-image-18-20" data-src="assets/img/avatar/07.jpg"></div>
                  </div>
                </div>
                <div class="user-avatar micro no-stats">
                  <div class="user-avatar-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-content">
                    <div class="hexagon-image-18-20" data-src="assets/img/avatar/13.jpg"></div>
                  </div>
                </div>
                <div class="user-avatar micro no-stats">
                  <div class="user-avatar-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-content">
                    <div class="hexagon-image-18-20" data-src="assets/img/avatar/22.jpg"></div>
                  </div>
                </div>
                <div class="user-avatar micro no-stats">
                  <div class="user-avatar-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-content">
                    <div class="hexagon-image-18-20" data-src="assets/img/avatar/10.jpg"></div>
                  </div>
                </div>
                <div class="user-avatar micro no-stats">
                  <div class="user-avatar-border">
                    <div class="hexagon-22-24"></div>
                  </div>
                  <div class="user-avatar-content">
                    <div class="hexagon-image-18-20" data-src="assets/img/avatar/08.jpg"></div>
                  </div>
                </div>
              </div>
              <p class="meta-line-text">19 Participants</p>
            </div>
          </div>
          <div class="content-action">
            <div class="meta-line">
              <p class="meta-line-link">2 Comments</p>
            </div>
            <div class="meta-line">
              <p class="meta-line-text">0 Shares</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="post-options">
      <div class="post-option-wrap">
        <div class="post-option reaction-options-dropdown-trigger">
          <svg class="post-option-icon icon-thumbs-up">
            <use xlink:href="#svg-thumbs-up"></use>
          </svg>
          <p class="post-option-text">React!</p>
        </div>
        <div class="reaction-options reaction-options-dropdown">
          <div class="reaction-option text-tooltip-tft" data-title="Like">
            <img class="reaction-option-image" src="assets/img/reaction/like.png" alt="reaction-like">
          </div>
          <div class="reaction-option text-tooltip-tft" data-title="Love">
            <img class="reaction-option-image" src="assets/img/reaction/love.png" alt="reaction-love">
          </div>
          <div class="reaction-option text-tooltip-tft" data-title="Dislike">
            <img class="reaction-option-image" src="assets/img/reaction/dislike.png" alt="reaction-dislike">
          </div>
          <div class="reaction-option text-tooltip-tft" data-title="Happy">
            <img class="reaction-option-image" src="assets/img/reaction/happy.png" alt="reaction-happy">
          </div>
          <div class="reaction-option text-tooltip-tft" data-title="Funny">
            <img class="reaction-option-image" src="assets/img/reaction/funny.png" alt="reaction-funny">
          </div>
          <div class="reaction-option text-tooltip-tft" data-title="Wow">
            <img class="reaction-option-image" src="assets/img/reaction/wow.png" alt="reaction-wow">
          </div>
          <div class="reaction-option text-tooltip-tft" data-title="Angry">
            <img class="reaction-option-image" src="assets/img/reaction/angry.png" alt="reaction-angry">
          </div>
         <div class="reaction-option text-tooltip-tft" data-title="Sad">
            <img class="reaction-option-image" src="assets/img/reaction/sad.png" alt="reaction-sad">
          </div>
        </div>
      </div>

      <div class="post-option">
        <svg class="post-option-icon icon-comment">
          <use xlink:href="#svg-comment"></use>
        </svg>
        <p class="post-option-text">Comment</p>
      </div>
      <div class="post-option">
        <svg class="post-option-icon icon-share">
          <use xlink:href="#svg-share"></use>
        </svg>
        <p class="post-option-text">Share</p>
      </div>
    </div>
  </div>
